{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>{% block title_meta %} عنوان صفحه {% endblock %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Font Awesome -->
    <link href="{% static 'registration/adminlte/plugins/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <!-- Ionicons -->
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link href="{% static 'registration/adminlte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}"
          rel="stylesheet">
    <!-- iCheck -->
    <link href="{% static 'registration/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}"
          rel="stylesheet">
    <!-- JQVMap -->
    <link href="{% static 'registration/adminlte/plugins/jqvmap/jqvmap.min.css' %}" rel="stylesheet">
    <!-- Theme style -->
    <link href="{% static 'registration/adminlte/assets/css/adminlte.min.css' %}" rel="stylesheet">
    <!-- overlayScrollbars -->
    <link href="{% static 'registration/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}"
          rel="stylesheet">
    <!-- Daterange picker -->
    <link href="{% static 'registration/adminlte/plugins/daterangepicker/daterangepicker.css' %}" rel="stylesheet">
    <!-- summernote -->
    <link href="{% static 'registration/adminlte/plugins/summernote/summernote-bs4.css' %}" rel="stylesheet">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- Bootstrap 4 RTL -->
    <link href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom style for RTL -->
    <link href="{% static 'registration/adminlte/assets/css/custom.css' %}" rel="stylesheet">
    <link href="/static/css/sticky-footer-navbar.css" rel="stylesheet">
    {% block extrahead %}{% endblock extrahead %}
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a class="nav-link" href="{% url 'account:home' %}">صفحه اصلی</a>
            </li>

            {% if user.is_authenticated %}
            <li class="nav-item d-none d-sm-inline-block">
                <a class="nav-link" href="{% url 'todo:lists' %}">لیست انجام کار</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a class="nav-link" href="{% url 'todo:mine' %}">کارها</a>
            </li>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a class="nav-link" href="{% url 'todo:import_csv' %}">وارد کرد اطلاعات</a>
            </li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">ورود</a></li>
            {% endif %}
            <li class="nav-item d-none d-sm-inline-block">
                <a class="nav-link" href="{% url 'blog:home' %}" target="_blank">نمایش سایت</a>
            </li>
            {% if user.is_authenticated %}
            <form action="{% url 'todo:search' %}" aria-label="Search" class="form-inline mt-2 mt-md-0"
                  method="get" placeholder="جستجو">
                <input class="form-control mr-sm-2" id="q" name="q" type="text" value="">
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="جستجو در بین کارها">
            </form>
            {% endif %}
        </ul>
        <ul class="navbar-nav mr-auto-navbav">
            <!-- Messages Dropdown Menu -->
            <li class="nav-item">
                <a class="nav-link" data-slide="true" data-widget="control-sidebar" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {% include 'registration/sidebar.html' %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                {% if messages %}
                {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}

                <p>{{ form.non_field_errors }}</p>
                {% block main%}{% block content %}
                {% endblock %}{% endblock %}
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <span>شرکت هویار ترابر  ثبت 1389</span>

        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 3.0.0-rc.1
        </div>
        <span class="text-muted">
          django-todo, {% now "Y" %}.
          {% if user.is_authenticated %}Logged in as {{ user.username }}{% endif %}</span>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{% static 'registration/adminlte/plugins/jquery/jquery.min.js' %}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{% static 'registration/adminlte/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)

</script>
<!-- Bootstrap 4 rtl -->
<script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'registration/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- ChartJS -->
<script src="{% static 'registration/adminlte/plugins/chart.js/Chart.min.js' %}"></script>
<!-- Sparkline -->
<script src="{% static 'registration/adminlte/plugins/sparklines/sparkline.js' %}"></script>
<!-- JQVMap -->
<script src="{% static 'registration/adminlte/plugins/jqvmap/jquery.vmap.min.js' %}"></script>
<script src="{% static 'registration/adminlte/plugins/jqvmap/maps/jquery.vmap.world.js' %}"></script>
<!-- jQuery Knob Chart -->
<script src="{% static 'registration/adminlte/plugins/jquery-knob/jquery.knob.min.js' %}"></script>
<!-- daterangepicker -->
<script src="{% static 'registration/adminlte/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'registration/adminlte/plugins/daterangepicker/daterangepicker.js' %}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{% static 'registration/adminlte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<!-- Summernote -->
<script src="{% static 'registration/adminlte/plugins/summernote/summernote-bs4.min.js' %}"></script>
<!-- overlayScrollbars -->
<script src="{% static 'registration/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'registration/adminlte/assets/js/adminlte.js' %}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{% static 'registration/adminlte/assets/js/pages/dashboard.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'registration/adminlte/assets/js/demo.js' %}"></script>
{% block extra_js %}{% endblock extra_js %}
</body>
</html>
