{% extends 'registration/base.html'%}
{% load crispy_forms_tags %}
{% block title%}{% block title_meta %} افزودن مقالات{% endblock %}{% endblock %}
{% block main%}
<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">افزودن مقاله</h3>
        </div>
        <div class="card-body">
            <form enctype="multipart/form-data" method="post">
                {%csrf_token%}
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.title|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.slug|as_crispy_field }}
                    </div>
                </div>
                {{ form.description|as_crispy_field }}
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.category|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.thumbnail|as_crispy_field }}

                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.publish|as_crispy_field }}
                    </div>
                    {% if user.is_superuser %}
                    <div class="form-group col-md-6 mb-0">
                        {{ form.status|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.author|as_crispy_field }}
                    </div>
                    {%else%}
                    <div class="form-group" id="div_id_status">
                        <label class=" requiredField" for="id_status">
                            وضعیت<span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <select class="select form-control" id="id_status" name="status" required="">
                                <option value="">---------</option>
                                <option value="d">پیش نویس</option>
                                <option value="i">ارسال برای ادمین</option>
                            </select>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="col-6">
                    {{ form.is_special|as_crispy_field }}
                </div>
                <button class="btn  bg-gradient-success btn-lg" style="margin-left:auto">ارسال مقاله</button>
                {% if user.is_superuser and request.resolver_match.kwargs.pk%}
                <a class="btn  bg-gradient-danger btn"
                   href="{% url 'account:article-delete' request.resolver_match.kwargs.pk%}">حذف مقاله</a>
                {% endif %}

            </form>
        </div>
    </div>
</div>
{% endblock %}
