{% extends 'registration/base.html'%}
{% load crispy_forms_tags %}
{% block title%}{% block title_meta %} افزودن مشتری{% endblock %}{% endblock %}
{% block main%}
<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">افزودن مشتری</h3>
        </div>
        <div class="card-body">
            <form method="post">
                {%csrf_token%}
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.companyName|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.phoneNumber|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.firstName|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.lastName|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.email|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.status|as_crispy_field }}
                    </div>

                </div>
                {{ form.description|as_crispy_field }}

                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.telephoneNumber|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.position|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.publish|as_crispy_field }}
                    </div>
                    {% if user.is_superuser %}
                    <div class="form-group col-md-6 mb-0">
                        {{ form.sales|as_crispy_field }}
                    </div>

                    {% endif %}

                </div>

                <button class="btn  bg-gradient-success btn-lg" style="margin-left:auto">ثبت</button>
                {% if user.is_author and request.resolver_match.kwargs.pk%}
                <a class="btn  bg-gradient-danger btn-lg"
                   href="{% url 'account:client-delete' request.resolver_match.kwargs.pk%}">حذف مشتری</a>
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock %}