{% extends 'registration/base.html'%}
{% block title%}{% block title_meta %} لیست مشتریان{% endblock %}{% endblock %}
{% block main%}
<div class="row">
    <div class="col-12">
        {% if object_list %}
        <div class="card">
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                    <tr class="small">
                        <th>نام شرکت</th>
                        <th>نام</th>
                        <th>نام خانوادگی</th>
                        <th>شماره موبایل</th>
                        <th>شماره تلفن شرکت</th>
                        <th>ایمیل</th>
                        <th>آخرین تماس با مشتری</th>
                        <th>آیا جزو مشتری های فعال می باشد؟</th>
                        <th>اولویت</th>
                        <th>بازاریاب</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for client in object_list %}
                    <tr class="small">

                        <td><a href="{% url 'account:client-update' client.pk%}">{{client.companyName}}</a></td>
                        <td>{{client.firstName}}</td>
                        <td>{{client.lastName}}</td>
                        <td>{{client.phoneNumber}}</td>
                        <td>{% if client.telephoneNumber%}{{client.telephoneNumber}}{% else %} _________ {% endif%}</td>
                        <td>{{client.email}}</td>
                        <td>{{client.Jpublish}}</td>
                        <td>{% if client.status%}
                            <i class="fa fa-check-circle" style="color:green"></i>
                            {% else %}
                            <i class="fa fa-minus-circle" style="color:red"></i>
                            {% endif%}
                        </td>
                        <td>{{client.position}}</td>
                        <td>{{client.sales}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        {% else %}
        <h3>محتوایی برای نمایش وجود ندارد.</h3>
        {% endif%}

        <!-- /.card -->
    </div>
</div>
{% endblock %}