{% extends 'registration/base.html'%}
{% load ratings %}
{% block title%}{% block title_meta %} لیست شرکت های حمل  و نقل{% endblock %}{% endblock %}
{% block main%}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">کارمندان  {{object_list.0.contact_object}}</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="dataTables_wrapper dt-bootstrap4" id="example2_wrapper">
                    <div class="row">
                        <div class="col-sm-12 col-md-6"></div>
                        <div class="col-sm-12 col-md-6"></div>
                    </div>
                    {% if object_list %}
                    <div class="row">
                        <div class="col-sm-12">
                            <table aria-describedby="example2_info" class="table table-bordered table-hover dataTable"
                                   id="example2"
                                   role="grid">
                                <thead>
                                <tr role="row">
                                    <th>نام و نام خانوادگی</th>
                                    <th>شماره موبایل</th>
                                    <th>آدرس ایمیل</th>
                                    <th>تگ های مربوطه</th>
                                    <th>آیا فعال است ؟</th>
                                    <th>زمینه فعالیت</th>
                                    <th>تاریخ ایجاد</th>

                                </thead>

                                <tbody>
                                {% for detail in object_list %}
                                <tr class="odd" role="row">
                                    <td><a href="{% url 'contact:contact_detail_profile' detail.pk%}">{{detail.first_name}} {{detail.last_name}}</a></td>
                                    <td>{{detail.phone_number}}</td>
                                    <td>{{detail.email_address}}</td>
                                    <td>
                                        {% for tag in detail.tags.all %}
                                        <div class="mr-1 badge badge-danger">{{ tag }}#</div>
                                        {% endfor %}
                                    </td>
                                    <td>{% if detail.is_active%}
                                        <i class="fa fa-check-circle" style="color:green"></i>
                                        {% else %}
                                        <i class="fa fa-minus-circle" style="color:red"></i>
                                        {% endif%}
                                    </td>
                                    <td>{{detail.kind_shipment}}</td>
                                    <td class="sorting_1">{{detail.date_added}}</td>
                                    {% endfor %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% else %}
                    <h3>محتوایی برای نمایش وجود ندارد.</h3>
                    {% endif%}
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
{% endblock %}