{% extends 'registration/base.html'%}
{% load ratings %}
{% block title%}{% block title_meta %} لیست شرکت های حمل  و نقل{% endblock %}{% endblock %}
{% block main%}
<div class="row">
    <div class="col-12">
        {% if contacts %}
        <div class="card">
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                    <tr class="small">
                        <th>نام شرکت</th>
                        <th>ایجاد کننده</th>
                        <th>تاریخ ایجاد</th>
                        <th>امتیاز شرکت</th>
                        <th>ویرایش اطلاعات</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contact in contacts %}
                    <tr class="small">

                        <td>
                            <a href="{% url 'contact:contact_detail' contact.slug%}">{{contact.company_name}}</a></td>
                        <td>{{contact.creator}}</td>
                        <td>{{contact.created_on}}</td>
                        <td>
                            <div>{% ratings contact %}</div>
                        </td>
                        <td>
                            <a class="btn btn-sm  btn-outline-warning" href="{% url 'contact:contact_update' contact.pk%}">ویرایش</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        {% else %}
        <h3>محتوایی برای نمایش وجود ندارد.</h3>
        {% endif%}

        <!-- /.card -->
    </div>
</div>
{% endblock %}