{% extends 'registration/base.html'%}
{% load crispy_forms_tags %}
{% block title%}{% block title_meta %} افزودن رفرنس{% endblock %}{% endblock %}
{% block main%}
<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">افزودن کانتکت</h3>
        </div>
        <div class="card-body">
            <form enctype="multipart/form-data" method="post">
                {%csrf_token%}
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.first_name|as_crispy_field }}
                    </div>

                    <div class="form-group col-md-6 mb-0">
                        {{ form.last_name|as_crispy_field }}
                    </div>
                </div>
                {{ form.contact_object|as_crispy_field }}
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.phone_type|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.phone_number|as_crispy_field }}

                    </div>

                    <div class="form-group col-md-6 mb-0">
                        {{ form.email_type|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.email_address|as_crispy_field }}
                    </div>

                    <div class="col-6">
                        {{ form.kind_shipment|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.tags|as_crispy_field }}
                    </div>
                    {% if user.is_superuser %}
                    <div class="form-group col-md-6 mb-0">
                        {{ form.author|as_crispy_field }}
                    </div>
                    {% endif %}
                    <div class="col-6">
                        {{ form.is_active|as_crispy_field }}
                    </div>
                </div>
                <button class="btn  bg-gradient-success btn-lg" style="margin-left:auto">ایجاد</button>
                {% if user.is_superuser and request.resolver_match.kwargs.pk%}
                <a class="btn  bg-gradient-danger btn-lg"
                   href="{% url 'contact:contact_delete' request.resolver_match.kwargs.pk%}">حذف کانتکت</a>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
