{% extends 'registration/base.html'%}
{% load crispy_forms_tags %}
{% block title%}{% block title_meta %} افزودن مشتری{% endblock %}{% endblock %}
{% block main%}
<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">افزودن شرکت حمل و نقل</h3>
        </div>
        <div class="card-body">
            <form method="post">
                {%csrf_token%}
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.company_name |as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.slug |as_crispy_field }}
                    </div>
                    {% if user.is_superuser %}
                    <div class="form-group col-md-6 mb-0">
                        {{ form.creator|as_crispy_field }}
                    </div>
                    {% endif %}
                </div>
                <button class="btn  bg-gradient-success btn-lg" style="margin-left:auto">ثبت</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}