{% extends 'registration/base.html'%}
{% load comment_tags %}
{% load ratings %}
{% block title%}{% block title_meta %} جزئیات {% endblock %}{% endblock %}
{% block main%}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">اطلاعات همکار گرامی "{{contact.last_name}}" از "{{contact.contact_object}}"</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">

                <div class="row">
                    <div class="col-12">
                        {% render_comments object request %}
                    </div>
                </div>
                <div class="row">
                    {% for tag in contact.tags.all %}
                    <div class="col-12 col-sm-4">
                        <div class="info-box bg-light">
                            <div class="info-box-content">
                                <span class="text-center text-muted info-box-text">{{tag}}</span>

                            </div>
                        </div>
                    </div>
                    {% endfor%}
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">

                <h3 class="text-primary"><i class="fas fa-paint-brush"></i> مشخصات نماینده </h3><br>
                <div>{% ratings contact %}</div>

                <br>
                <div class="text-muted">
                    <p class="text-sm">نام و نام خانوادگی
                        <b class="d-block">{{contact.first_name}} {{contact.last_name}}</b>
                    </p>
                    <p class="text-sm">نام شرکت
                        <b class="d-block">{{contact.contact_object}}</b>
                    </p>
                    <p class="text-sm">حیطه فعالیت
                        <b class="d-block">{{contact.kind_shipment}}</b>
                    </p>
                    <p class="text-sm">ایمیل
                        <b class="d-block">{{contact.email_address}}</b>
                    </p>
                    <p class="text-sm">شماره موبایل
                        <b class="d-block">{{contact.phone_number}}</b>
                    </p>
                    <p class="text-sm">آیا این نماینده فعال است ؟
                        <b class="d-block">{% if contact.is_active%}
                            <i class="fa fa-check-circle" style="color:green"></i>
                            {% else %}
                            <i class="fa fa-minus-circle" style="color:red"></i>
                            {% endif%}</b>
                    </p>
                </div>

                <div class="text-center mt-5 mb-3">
                    <a class="btn btn-sm btn-warning" href="{% url 'contact:contact_detail_update' contact.pk%}">ویرایش</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>
{% endblock %}