{% extends 'registration/base.html'%}
{% block title%}{% block title_meta %} لیست مقالات{% endblock %}{% endblock %}
{% block main%}
<div class="row">
    <div class="col-12">
        {% if object_list %}
        <div class="card">
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>عنوان مقاله</th>
                        <th>دسته بندی</th>
                        <th>نویسنده</th>
                        <th>خلاصه</th>
                        <th>تصویر بند انگشتی</th>
                        <th>زمان انتشار</th>
                        <th>مقاله ویژه</th>
                        <th>وضعیت</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in object_list %}
                    <tr>
                        {% if user.is_author and article.status in 'bd'|make_list or user.is_superuser %}
                        <td><a href="{% url 'account:article-update' article.pk%}">{{article.title}}</a></td>
                        {% else %}
                        <td>{{article.title}}</td>
                        {% endif %}
                        <td>{{article.category_to_str}}</td>
                        <td>{{article.author.get_full_name}}</td>
                        <td>{{article.description|striptags|truncatewords:"30"}}</td>
                        <td><img height="80" src="{{article.thumbnail.url}}" width="120"></td>
                        <td>{{article.Jpublish}}</td>
                        <td>{% if article.is_special%}
                            <i class="fa fa-check-circle" style="color:green"></i>
                            {% else %}
                            <i class="fa fa-minus-circle" style="color:red"></i>
                            {% endif%}
                        </td>
                        <td>
                            {%if article.status == 'p'%}
                            <span class="badge badge-success">منتشر شده</span>
                            <a class="badge badge-primary" href="{% url 'blog:detail' article.slug%} " target="_blank">نمایش
                            </a>
                            {% elif article.status == 'i' %}
                            <span class="badge badge" style="background-color: chartreuse">در حال بررسی</span>
                            {% if user.is_superuser%}
                            <a class="badge badge-primary" href="{% url 'blog:preview' article.pk%} " target="_blank">
                                پیش نمایش
                            </a>
                            {% endif %}
                            {% else %}
                            {%if article.status == 'd'%}
                            <span class="badge badge-danger">پیش نویس</span>
                            {% else %}
                            <span class="badge badge-warning">برگشت داده شد</span>
                            {% endif %}
                            <a class="badge badge-secondary" href="{% url 'blog:preview' article.pk%} " target="_blank">
                                پیش نمایش
                            </a>

                            {% endif %}
                            {% if user.is_superuser %}
                            <a class="badge text-danger" href="{% url 'account:article-delete' article.pk%}"> حذف مقاله
                            </a>
                            {% endif %}
                        </td>


                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        {% else %}
        <h3>محتوایی برای نمایش وجود ندارد.</h3>
        {% endif%}

        <!-- /.card -->
    </div>
</div>
{% endblock %}