{% extends 'registration/base.html'%}
{% block title%}عملیات با موفقیت انجام شد{% endblock %}
{% block title_meta %} تغییر رمز{% endblock %}
{% block main%}
<div class="col-md-8 text-center mx-auto">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">تغییر رمز عبور</h3>
        </div>
        <div class="card-body py-4">
            <form method="post">
                <p class="py-2">
                    گذر واژه با موفقیت تغییر یافت.
                <p>

            </form>

        </div>
    </div>
</div>
</div>
{% endblock %}




