{% extends 'registration/base.html'%}
{% load crispy_forms_tags %}
{% block title%}{% block title_meta %} پروفایل کاربری{% endblock %}{% endblock %}
{% block main%}
<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">افزودن مقاله</h3>
        </div>
        <div class="card-body">
            <form enctype="multipart/form-data" method="post">
                {%csrf_token%}
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.username|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.email|as_crispy_field }}
                    </div>
                    <div class="col-12">
                       <label>گذرواژه:</label>
                        <span>برای تغییر گذرواژه<a href="{% url 'password_change' %}"> کلیک </a>کنید.</span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.first_name|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.last_name|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.special_user|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.is_author|as_crispy_field }}
                    </div>

                    <div>
                        <button class="btn  bg-gradient-success btn-lg">ویرایش اطلاعات</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
</div>
{% endblock %}



