{% extends 'registration/base.html'%}
{% block title%}{% block title_meta %} حذف رفرنس لیست{% endblock %}{% endblock %}
{% block main%}
<div class="col-md-8 text-center mx-auto">
    <!-- general form elements -->
    <div class="card card-danger">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">حذف رفرنس لیست</h3>
        </div>
        <div class="card-body py-4">
            <form method="post">{% csrf_token %}
                <p class="py-2"> آیا از حذف کردن رفرنس لیست <span class="text-danger">{{ object }}</span> از
                    {{user.get_full_name}} مطمئن هستید ؟ </p>

                <td>
                    <button class="btn btn-outline-danger btn-lg" type="submit">بله</button>
                </td>
                <td>
                    <a class="btn btn-outline-success btn-lg" href="{% url 'account:reference_list'%}">خیر</a>
                </td>

            </form>

        </div>
    </div>
</div>
</div>
{% endblock %}




