{% extends 'registration/base.html'%}
{% block title%}{% block title_meta %} رفرنس های بازاریاب {% endblock %}{% endblock %}
{% block main%}
<div class="row">
    <div class="col-12">
        {% if object_list %}
        <div class="card">
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                    <tr class="small list-header">
                        <th>شماره رفرنس</th>
                        <th>نام شرکت</th>
                        <th>شماره تماس مشتری</th>
                        <th>ایمیل تماس مشتری</th>
                        <th>نوع حمل</th>
                        <th>زمان شروع حمل</th>
                        <th>کشور مبدا بارگیری</th>
                        <th> شهر محل بارگیری</th>
                        <th>گمرک مقصد</th>
                        <th>نرخ خرید</th>
                        <th>نرخ فروش</th>
                        <th>سود بازاریاب</th>
                        <th>بازاریاب</th>
                        <th>وضعیت رفرنس</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reference in object_list %}
                    <tr class="small list-group-item-action {%if reference.status == 'p'%} list-group-item-success
                    {%elif reference.status == 'd'%} list-group-item-danger
                    {%elif reference.status == 'e'%} list-group-item-primary
                    {%elif reference.status == 'f'%} list-group-item-dark
                    {% endif%} list-group-item-action">

                        <td>
                            <a href="{% url 'account:reference-update' reference.pk%}">{{reference.reference_number}}</a>
                        </td>
                        <td>{{reference.companyName}}</td>
                        <td>{{reference.companyName.phoneNumber}}</td>
                        <td>{{reference.companyName.email}}</td>
                        <td>{{reference.kind_shipment}}</td>
                        <td>{{reference.Jpublish}}</td>
                        <td>{{reference.country_of_receipt}}</td>
                        <td>{{reference.port_of_receipt}}</td>
                        <td>{{reference.port_of_discharge}}</td>
                        <td>{{reference.net_rate}}</td>
                        <td>{{reference.selling_rate}}</td>
                        <td>{{reference.profit}}</td>
                        <td>{{reference.companyName.sales}}</td>
                        <td>
                            {%if reference.status == 'p'%}
                            <span class="badge badge-success">تایید شد و در حال انجام</span>
                            {% elif reference.status == 'i' %}
                            <span class="badge badge-warning">در حال بررسی</span>
                            {%elif reference.status == 'd'%}
                            <span class="badge badge-danger">کنسل شد</span>
                            {%elif reference.status == 'e'%}
                            <span class="badge badge-primary">به پایان رسید ( در مرحله دریافت سود )</span>
                            {%elif reference.status == 'f'%}
                            <span class="badge badge-pill">بایگانی</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        {% else %}
        <h3>محتوایی برای نمایش وجود ندارد.</h3>
        {% endif%}

        <!-- /.card -->
    </div>
</div>
{% endblock %}