{% extends 'registration/base.html'%}
{% load crispy_forms_tags %}
{% block title%}{% block title_meta %} افزودن رفرنس{% endblock %}{% endblock %}
{% block main%}
<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">افزودن رفرنس</h3>
        </div>
        <div class="card-body">
            <form enctype="multipart/form-data" method="post">
                {%csrf_token%}
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.reference_number|as_crispy_field }}
                    </div>

                    <div class="form-group col-md-6 mb-0">
                        {{ form.companyName|as_crispy_field }}
                    </div>
                </div>
                {{ form.description|as_crispy_field }}
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.kind_shipment|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.start_project|as_crispy_field }}

                    </div>

                    <div class="form-group col-md-6 mb-0">
                        {{ form.country_of_receipt|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.port_of_receipt|as_crispy_field }}
                    </div>

                    <div class="col-6">
                        {{ form.country_of_discharge|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.port_of_discharge|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.net_rate|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.selling_rate|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.position|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.status|as_crispy_field }}
                    </div>
                </div>
                <button class="btn  bg-gradient-success btn-lg" style="margin-left:auto">ایجاد</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
