{% load static%}
{% load gravatar %}
{% load base_tags %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link" href="index3.html">
        <img alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             src="{%static 'registration/adminlte/assets/img/AdminLTELogo.png' %}"
             style="opacity: .8">
        <span class="brand-text font-weight-light">هویار ترابر</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img alt="User Image" class="img-circle elevation-2"
                     src="{% gravatar_url user.email 150 %}">
            </div>
            <div class="info">
                <a class="d-block" href="#">{% if user.get_full_name %}{{user.get_full_name}}{% else %}
                    {{user.username}}{% endif %}</a>

            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview"
                role="menu">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                {% if user.is_superuser or user.is_author%}
                <li class="nav-item has-treeview menu-open">
                    <a class="nav-link active" href="#">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% link request 'home' 'لیست مقالات' 'list' %}
                        </li>
                        <li class="nav-item">
                            {% link request 'article-create' 'افزودن مقالات' 'edit' %}
                        </li>
                    </ul>
                </li>

                {% endif %}
                <li class="nav-item">
                    {% link request 'profile' 'پروفایل' 'fa fa-th' %}
                </li>
                {% if user.is_superuser or user.is_author%}

                <li class="nav-item">
                    {% link request 'client_list' 'لیست مشتری ها' 'fa fa-th' %}
                </li>
                <li class="nav-item">
                    {% link request 'client-create' 'ایجاد مشتری' 'edit' %}
                </li>
                <li class="nav-item">
                    {% link request 'reference_list' 'لیست رفرنس' 'list' %}
                </li>
                <li class="nav-item">
                    {% link request 'reference-create' 'ایجاد رفرنس' 'edit' %}
                </li>
                {% endif %}
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                </div>
                <li class="nav-item">
                    <a class="nav-icon" href="{% url 'todo:lists' %}">لیست انجام کار</a><br>
                    <a class="nav-icon" href="{% url 'todo:mine' %}">کار ها</a>
                </li>
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                </div>
                <li class="nav-item">
                    <a class="nav-icon" href="{% url 'contact:contact_list' %}">لیست شرکت های حمل</a><br>
                    <a class="nav-icon" href="{% url 'contact:contact-create' %}">ایجاد شرکت حمل</a><br>
                    <a class="nav-icon" href="{% url 'contact:contact_detail_create' %}">ایجاد کانتکت</a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
