{% extends "star_ratings/widget_base.html" %}
{% block rating_detail %}
{% if not user.is_authenticated %}
<div><small>برای رای دادن باید <a class="text-danger" href="{% url 'login'%}">وارد</a>شوید.</small></div>
{% endif%}
{% endblock %}