{% extends "todo/base.html" %}
{% block page_heading %}{% endblock %}
{% block title %}افزودن لیست انجام کار {% endblock %}
{% block content %}

<h2>اضافه کردن لیست :</h2><br>

<form action="" method="post">
    {% csrf_token %}

    <div class="form-group">
        <label for="id_name">نام لیست</label>
        <input aria-describedby="inputNameHelp" class="form-control" id="id_name" name="name" placeholder=""
               type="text">
    </div>
    <div class="form-group col-md-6 mb-0">
        {{ form.slug }}
    </div>
    <div class="form-group">
        <label for="id_group">گروه</label>
        {{form.group}}
    </div>

    <button class="btn btn-primary" type="submit">ثبت</button>
</form>
{% endblock %}