{% extends "todo/base.html" %}
{% block title %}پاک کردن لیست{% endblock %}

{% block content %}
{% if user.is_staff %}
<h1>آیا لیست: <small style="color: #a41515">{{ task_list.name }}</small> پاک شود ؟</h1>

<p>کارهای مرتبط با این لیست:</p>

<ul>
    <li>کارهای تمام نشده: {{ task_count_undone }}</li>
    <li>کارهای تمام شده: {{ task_count_done }}</li>
    <li>
        <strong>مجموع: {{ task_count_total }}</strong>
    </li>
</ul>

<p> با پاک شدن این لیست تمامی کارها بصورت <strong>برگشت ناپذیر</strong>. پاک خواهند شد....
    آیا از انجام این کار مطمئن هستید؟</p>

<form accept-charset="utf-8" action="" method="post">
    {% csrf_token %}
    <input name="task_list" type="hidden" value="{{ task_list.id }}">
    <p>
        <a class="btn btn-success" href="{% url 'todo:list_detail' task_list.id task_list.slug %}">بازگشت به لیست:
          {{ task_list.name }}</a>
        <input class="btn btn-danger" name="delete-confirm" type="submit" value="انجامش بده! &larr;">
    </p>
</form>


{% else %}
<p>متاسفم...شما اجازه پاک کردن لیست را ندارید . جهت انجام این کار با مدیریت صحبت کنید.</p>
{% endif %} {% endblock %}