{% extends "todo/base.html" %}

{% block title %}{{ list_title }}لیست های موجود {% endblock %}

{% block content %}
  <h1>لیست های کاری</h1>

  <p>مجموع کارهای پیش رو :<span style="color: red" >{{ task_count }}</span>   تعداد لیست ها :<span style="color: red">{{ list_count }}</span> </p>

  {% regroup lists by group as section_list %}
  {% for group in section_list %}
    <h3>'نام گروه': {{ group.grouper }}</h3>
    <ul class="list-group mb-4">
      {% for task in group.list %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'todo:list_detail' task.id task.slug %}">{{ task.name }}</a>
        <span class="badge badge-primary badge-pill">{{ task.task_set.count }}</span>
      </li>
      {% endfor %}
    </ul>
  {% endfor %}

  <div class="mt-3">
    
    {% if user.is_staff %}
      <a href="{% url 'todo:add_list' %}" class="btn btn-primary">Create new todo list</a>
    {% else %}
      <a href="" class="btn btn-primary disabled">If you were staff, you could create a new list</a>
    {% endif %}
      
  </div>

{% endblock %}