{% extends "todo/base.html" %}

{% block title %}  نتایج جستجو {% endblock %}
{% block content_title %}<h2 class="page_title">جستجو</h2>{% endblock %}

{% block content %}
  {% if found_tasks %}
  <h2>{{found_tasks.count}} نتایج جستجو برای: "{{ query_string }}"</h2>
  <div class="post_list">
    {% for f in found_tasks %}
    <p>
      <strong>
        <a href="{% url 'todo:task_detail' f.id %}">{{ f.title }}</a>
      </strong>
      <br />
      <span class="minor">
        در لیست:
        <a href="{% url 'todo:list_detail' f.task_list.id f.task_list.slug %}">
          {{ f.task_list.name }}
        </a>
        <br /> اختصاص دارد به: {% if f.assigned_to %}{{ f.assigned_to }}{% else %}Anyone{% endif %}
        <br /> آیا کار به پایان رسیده است؟ : {{ f.completed|yesno:"بله,خیر" }}
      </span>
    </p>
    {% endfor %}
  </div>
  {% else %}
    <h2> جستجو نتیجه ای در پی نداست.</h2>
  {% endif %}
{% endblock %}
