{% extends 'blog/base.html' %}
{% block title%}{{article.title}} |  هویار{% endblock %}
{% load static %}
{% block main%}
{% load comment_tags %}  {# Loading the template tag #}
{% load ratings %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{{article.thumbnail.url}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{article.title}}
                        {% if article.is_special %}
                        <span class="badge btn-danger" style="font-size: 14px;">ویژه</span>
                        {% endif %}</h1>
                    <time>{{article.Jpublish}}</time>
                    <div>{% ratings object %}</div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5 text-justify">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 ">
                <p class="post-subtitle" style="font-weight: bold">{{article.description
                    |striptags|truncatewords:20}}</p>
                {%if article.is_special %}
                {%if user.is_authenticated and user.is_special_user or user == article.author or user.is_superuser %}
                {{article.description|striptags|truncatewords:30}}
                {% else %}
                <p class="alert alert-warning">این مقاله ویژه است و برای مشاهده آن باید <a class="alert-warning"
                                                                                           href="#">اشتراک ویژه</a> تهیه
                    فرمایید . </p>
                {% endif %}
                {% else %}
                {{article.description|striptags|safe}}
                {% endif %}
                {% render_comments object request %}
                {% include_bootstrap %}

            </div>
        </div>
    </div>
</article>
{% endblock %}