{% extends 'blog/base.html' %}
{% load static %}
{% block title%}هویار ترابر{% endblock %}
{% block main%}
{% load ratings %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('{% static 'blog/assets/img/home-bg.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>هویار ترابر</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% block header %}
            <h3 class="alert alert-primary text-center font-family: 'Sahel'">دسته بندی :{{category.title}}</h3>
            {% endblock%}
            <!-- Post preview-->
            {% for article in articles %}
            <div class="post-preview">
                <a href="{% url 'blog:detail' article.slug%}">
                    <h2 class="post-title">

                        {{article.title}}


                        {% if article.is_special %}
                        <span class="badge btn-danger" style="font-size: 14px;">ویژه</span>
                        {% endif %}
                    </h2>
                </a>
                <div>{% ratings article %}</div>


                <p class="post-subtitle">{{article.description |striptags|truncatewords:30}}</p>

                <p class="post-meta">
                    نوشته شده توسط:
                    <a href="{% url 'blog:author' article.author%}">{{article.author.get_full_name}}</a>
                    {{article.Jpublish}}
                </p>
                <div>
                    {% for cat in article.category.active%}
                    <a href="{% url 'blog:category' cat.slug%}">#{{cat.title}}</a>
                    {%endfor%}
                </div>
            </div>
            {% endfor %}
            <!-- Divider-->
            <hr class="my-4 pager_button"/>
            <!-- Pager-->
            {% if is_paginated %}
            <div class="d-flex justify-content-end mb-4">
                {% if page_obj.has_previous %}
                <a class="btn btn-primary text-uppercase"
                   href="{% block previous_obj_url%} {%endblock%}"> پست
                    های جدید&rarr;</a>
                {% endif %}
                {% if page_obj.has_next %}
                <a class="btn btn-primary text-uppercase"
                   href="{% block next_obj_url%} {%endblock%}"> پست
                    های قدیمی&larr;</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}