<a class="nav-link {% if request.resolver_match.url_name == link_name %}
   active
    {% endif %}"
   href="{% url link %}">
    <i class="fa fa-{{classes}} nav-icon"></i>
    <p> {{content}} </p>
</a>