label {
	display: block;
	font-weight: bold;
}
.alert-success, .bg-success {
    background-color: rgb(35 201 32 / 32%)!important;
}

.alert-success, .alert-success>a, .bg-success, .bg-success>a {
    color: #000!important;
}